@page
@model LoanAmortization.Pages.LoanForm.IndexModel

<h3 class="text-white mb-5">Aby określić ratę kredytu wprowadź dane w odpowiednie pola:</h3>
<h5 class="text-warning mb-lg-5" id="errorMessage"></h5>
<form method="get" action="Result" name="loan">
    <div class="form-group row text-white">

        <label for="exampleInputEmail1" class="col-sm-12 col-lg-3 col-form-label mb-4 mt-2 border-bottom pb-4 text-sm-center text-lg-right">Wysokość kredytu:<span color="red">*</span></label>
        <div class="col-sm-12 col-lg-9 mb-4 mt-2 border-bottom pb-4">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Wprowadź kwotę kredytu" name="pv">
        </div>

        <label for="exampleInputPassword1" class="col-sm-12 col-lg-3 col-form-label mb-4 border-bottom pb-4 text-sm-center text-lg-right">Oprocentowanie (w %):</label>
        <div class="col-sm-12 col-lg-9 mb-4 border-bottom pb-4">
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Wprowadź oprocentowanie kredytu" name="rate">
        </div>

        <label for="exampleInputPassword1" class="col-sm-12 col-lg-3 col-form-label mb-4 border-bottom pb-4 text-sm-center text-lg-right">Ilość rat:</label>
        <div class="col-sm-12 col-lg-9 mb-4 border-bottom pb-4">
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Wprowadź ilość rat kredytu" name="quantity">
        </div>

        <label for="exampleInputPassword1" class="col-sm-12 col-lg-3 col-form-label mb-4 border-bottom pb-4 text-sm-center text-lg-right">Waluta kredytu:</label>
        <div class="col-sm-12 col-lg-9 mb-4 border-bottom pb-4">
            <select id="inputState" class="form-control" name="currency">
                <option selected value="PLN">PLN</option>
                <option value="CHF">CHF</option>
                <option value="CHF">EUR</option>
                <option value="CHF">USD</option>
            </select>
        </div>

        <label for="exampleInputPassword1" class="col-sm-12 col-lg-3 col-form-label mb-4 border-bottom pb-4 text-sm-center text-lg-right">Platność raty:</label>
        <div class="col-sm-12 col-lg-9 mb-4 pt-2 border-bottom pb-4 text-sm-center text-lg-left">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pmtType" id="inlineRadio1" value="1" checked>
                <label class="form-check-label" for="inlineRadio1">Raty płatne z dołu</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="pmtType" id="inlineRadio2" value="2">
                <label class="form-check-label" for="inlineRadio2">Raty płatne z góry</label>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <a class="btn btn-success" href="javascript:validateForm()" role="button">Wykonaj obliczenia</a>
        </div>

    </div>
</form>