@page
@model IndexModel

<div class="text-center">
    <h3 class="text-white mb-5">Aby obliczyć ratę kredytu kliknij w poniższy przycisk:</h3>
    <a class="btn btn-success" href="LoanForm" role="button">Kliknij tutaj, aby przejść dalej</a>
</div>
